<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
    title= title
    
  body
    include header/header.pug

    .images-container
      .row
        if imagesUrl
          each image in imagesUrl
            .image-wrapper
              img(src=`${image.preview}`, alt=`${image.id}`)
        else
          if error
            .col.s12
              p.flow-text Попадос
              p.flow-text=error
          else 
            .col.s12 Скорее всего тут пусто
    if next
      .row.center
        a.next(href=`${next}`) Загрузить еще!
    else
      .row.center
        span Больше ничего нет!

    script.
      const getData = () => !{JSON.stringify(imagesUrl)}
    script(src='/views/images.js')
