<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
    title= title
    
  body
    include header/header.pug

    .images-container
      .row
        if imagesUrl
          each image in imagesUrl
            .image-wrapper
              a(href=image.url)
                img(src=`${image.preview}`, alt=`${image.id}`)
        else
          if error
            .col.s12
              p.flow-text Попадос
              p.flow-text=error
          else 
            .col.s12 Скорее всего тут пусто

      script.
        //- let a = Date.now();
        const sd = () => !{JSON.stringify(imagesUrl)}
      script(src='/views/images.js')
