<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
    title= title
    
  body
    include header/header.pug

    .container
      .row.teal
        .col.s12=i
      .row
        if imagesUrl
          each image in imagesUrl
            a(href=image.url)
              img(src=`${image.preview}`, alt=`${image.id}`, nax-width='150px', max-height='150px')
          ul
            li 1
            li 2
        else
          if error
            .col.s12
              p Попадос
              p=error
          else 
            .col.s12 Скорее всего тут пусто, ага


