<!DOCTYPE html>
html(lang="ru")
  include head/head.pug
    title= title
    
  body
    include header/header.pug

    .container
      .row
        if imagesUrl
          each image in imagesUrl
            .col.s2
              a(href=image.url)
                img(src=`${image.preview}`, alt=`${image.id}`, max-width='150px', max-height='150px')
          ul
            li=JSON.stringify(imagesUrl)
            li 2
        else
          if error
            .col.s12
              p.flow-text Попадос
              p.flow-text=error
          else 
            .col.s12 Скорее всего тут пусто


